<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <a href="create.html">Cadastrar novo produto</a>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Preço</td>
                <td>Categoria</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody id="produtos"></tbody>
    </table>

    <script>
        fetch('/produtos')// acessa leitura do produto
            .then(res => res.json())
            .then(data => {
                const tbody = document.getElementById('produtos');
                data.forEach(p => {// Lê os valores dentro do list
                    tbody.innerHTML += `
                    <tr> 
                            <td>${p.id}</td>
                            <td>${p.nome}</td>
                            <td>${p.preco}</td>
                            <td>${p.categoria}</td>
                            <td> 
                            <a href="/edit.html?id=${p.id}>Editar</a>
                            <a href="/delete.html?id=${p.id}>Excluir</a>
                            </td>
                    <tr>`; // Crase usa pra fazer interpolação
                });
            });
        function excluir(id) {
            fetch(`/produtos/${id}`, { method: 'DELETE' })
                .then(()=> location.reload());
        }

    </script>
</body>
</html>